<div class="row">
	<div class="span3 bs-docs-sidebar">
		<ul class="nav nav-list bs-docs-sidenav">

			<li class=""><a href="/left_items"><i class="icon-chevron-right"></i> 首页左侧链接管理 </a>
			</li>
			<li class=""><a href="/slide_items"><i class="icon-chevron-right"></i> 首页轮播项目管理 </a>
			</li>
			<li class=""><a href="/top_items"><i class="icon-chevron-right"></i> 顶部项目管理 </a>
			</li>
			<li class=""><a href="/other_items"><i class="icon-chevron-right"></i> 其他项目管理 </a>
			</li>
			<li class=""><a href="/admins/edit"><i class="icon-chevron-right"></i> 用户管理(<%= current_admin.username %>) </a>
			</li>
			<li class=""><a href="/admins/sign_out"><i class="icon-chevron-right"></i> 退出(<%= current_admin.username %>) </a>
			</li>
		</ul>
	</div>
	<div class="span9">

	</div>
</div>